body{
    background-color: #ffffff;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
}
}

.container-nav {
  display: flex;
  padding: 10px;
  height: 50px;
  background-color: #000000;
}


.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.brand {
  display: flex;
  align-items: center;
}

li>a {
  padding: 8px 24px;
}

a {
  color: #ffffff;
  text-decoration:none;
}

.nav-links {
  display: flex;
  align-items: center;
}

.button-menu-toggle {
  display: none;
}

li {
  list-style-type: none;
}

h1{
    color: rgb(223, 38, 140);
    font-family: arial;
    font-size: 36px;
    text-align: center;
}

h2{
    color:rgb(43, 61, 226);
    font-size: 20px;
    padding: 10px;
    margin: 20px;
}

p{
    color: darkgreen;
    font-family: georgia;
    font-size: 18px;
    padding: 10px;
    margin: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
  }
  
.column {
    flex: 1;
    padding: 10px;
  }

.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  min-height: 200px;
  text-align: center;
}

.greeting {
  text-align: center;
}


@media (max-width: 768px) {
    .column {
      flex: 100%;
}
  
.button-menu-toggle {
  display: block;
  background-color: white;
  border:none;
  border-radius: 50px;
  padding: 0 24px;
  font-family: monospace;
  font-weight: bold;
  font-size: 20px;
  
    }
     
  
.nav-links {
      display: none;
  }
   
    .nav-links.nav-links-responsive {
      position: absolute;
      display: flex;
      background-color: rgba(20,20,20,0.95);
      width: 100%;
      height: 100%;
      top: 70px;
      left: 0;
      flex-direction: column;
      padding-top: 200px;
      align-items: center;
      gap:70px;
      font-size: 40px;
  
  
    }

    .img-container {
      flex-direction: column;
    }

    .video-container {
      padding: 10px;
      gap: 5px;
    }

    iframe, video {
      max-width: 90%;
    }

  }

